[submodule "libraries"]
	path = libraries
	url = git@github.com:benjaminblodgett311/opengl-glfw3-libraries.git

[submodule "res"]
	path = res
	url = git@github.com:benjaminblodgett311/benny-res.git
[submodule "butil"]
	path = butil
	url = git@github.com:benjaminblodgett311/butil.git
